* {
    outline: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus {
    outline: 0;

    &::placeholder {
        color: transparent !important;
    }
}

::selection {
    background-color: #eaeaea;
}

body {
    font-family: 'Montserrat Light', Arial;
    font-size: 16px;
}

a{
	text-decoration: none;
    transition: all .3s;

    &:hover,
    &:focus {
        opacity: .85;
    }
}

p {
    font-family: 'Roboto Slab Light', Arial;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Bold', Arial;
}

ul{
	list-style: none;
}

label {
    font-size: 0px;
    color: transparent;
}

[type=text],
[type=email],
[type=tel],
[type=submit],
textarea,
select {
    font-family: 'Montserrat Light', Arial;
    font-size: 16px;
    max-width: 100%;
    border: none;
}

strong{
    font-family: 'Montserrat Bold', Arial;
}