@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

* {
    outline: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus {
    outline: 0;

    &::placeholder {
        color: transparent !important;
    }
}

::selection {
    background-color: #eaeaea;
}

body {
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    background-color: #1d1d1d;
}

a{
    color: $secondary;
	text-decoration: none;
    transition: all .3s;

    &:hover,
    &:focus {
        opacity: .85;
    }
}

ul{
	list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    padding: 0 20px;
    max-width: 1170px;
    margin: 0 auto;
}

.social{
    display: flex;
    align-items: center;

    li{
        margin: 0 5px;

        img{
            max-width: 16px;
            height: 16px;
        }
    }
}