.header{
	background: #ffffff;

	.container{
		padding: 10px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo{
		display: flex;

		h1{
			font-size: 26px;
			line-height: 26px;
			margin-right: 26px;
		}
		ul{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			line-height: 14px;

			li{
				margin: 0 5px;

				svg{
					width: 14px;
					height: 14px;
				}
			}
		}
	}

	&__nav{
		display: flex;

		ul{
			display: flex;
		}
	}
	
}