.intro{
	width: 90%;
	max-width: 1170px;
	min-height: 100vh;
	padding: 20vh 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	h2{
		color: white;
		font-family: 'Sen', sans-serif;
		font-size: 40px;
		line-height: 60px;
		margin-bottom: 50px;
		@media(max-width:768px){
			font-size: 26px;
			line-height: 30px;
		}
	}

	p{
		font-size: 20px;
		color: $secondary;
		font-family: 'Sen', sans-serif;
		@media(max-width:768px){
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 20px;
		}
	}

	&__tags{
		@media(min-width:768px){
			padding: 50px 0 0;
		}
	}
	&__tag{
		font-family: 'Sen', sans-serif;
		color: $primary;
		display: inline;
		padding: 5px;
		font-size: 16px;
		line-height: 1em;
		transition: all ease .3s;
		border-radius: .3rem;
		white-space: no-wrap;
		line-height: 1.6rem;

		@media(min-width:768px){
			&:nth-of-type(2n + 1){
				font-weight: 600;
				font-size: 1.2rem;
			}
			&:nth-of-type(4n + 1){
				font-weight: 600;
				font-size: 1.4rem;
			}
			&:nth-of-type(5n + 1){
				font-weight: 400;
			}
			&:nth-of-type(6n + 1){
				font-weight: 900;
				font-size: 1.6rem;
			}
			&:nth-of-type(7n + 1){
				font-weight: 400;
			}
		}
	}
}

@function longshadow($num,$color: white){
	$shadow: '';
	$i: 0;
	@for $i from 1 through $num{
	  $shadow: $shadow + (1 * $i) + 'px' + ' ' + (1 * ($i * 2)) + 'px' + ' ' + $color;
	  @if $i < $num{
		$shadow: $shadow + ', ';
	  }
	}
	@return unquote($shadow);
}

$key: #1d1d1d;

.word{
	color: white;
	//text-shadow: longshadow(5,darken($key,4%));
}