$bold: 'Fira Code Bold', arial;
$medium: 'Fira Code Medium', arial;
$light: 'Fira Code Light', arial;
$regular: 'Fira Code Regular', arial;
$semiBold: 'Fira Code Semi Bold', arial;
$retina: 'Fira Code Retina', arial;